{% extends "base.html" %}

{% block content %}
    <div class="row">


        
            <div class="col-lg-8">
            <div class="container px-5">
                <!-- <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action=".">-->
                 <form id="contactForm"  method="POST" action=".">
                    {% csrf_token %}
                    <p class="fs-4"> Se connecter</p><span class="erreur text-danger">  
                    {% if erreur %}
                    {{erreur}} </span>
                    {% endif %}
                    

                    <div class="input-group has-validation mb-2">
                        
                        <span class="input-group-text bi-plus-lg"><i class=" text-danger fa-regular fa-circle-user"></i></span>
                        
                        <input type="text" class="form-control" id="premier" name='username' placeholder="nom d'utilisateur" required>
                        
                    
                      </div>
                      <div class="input-group has-validation mb-2">
                        <span class="input-group-text bi-plus-lg"><i class="text-danger fa-solid fa-key"></i></span>
                        
                        <input type="password" class="form-control" id="premier"  name='password' placeholder="mot de passe" required>
                      
                      </div>
                   
                  
                        <div class="d-grid gap-2 col-4">
                        <button class="btn btn-outline-danger"  id="submitButton" type="submit">Valider</button>
                    
                    </div>
                   
                </form>

                
            </div>
          


<br> 
<div class="d-flex justify-content-center">
    <iframe target="_blank" src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=48&l=ur1&category=pw&banner=1JDDWNTGS648SGA9WQG2&f=ifr&linkID=e5ac770c26dffff886957b5f7bc3a460&t=nopamani-21&tracking_id=nopamani-21" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
</div>




</div>  

<!-- menu de droite-->
  <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
          <div class="card-header">Rechercher</div>
          <div class="card-body">
              <div class="input-group">
                  <input class="form-control" type="text" placeholder="..." aria-label="..." aria-describedby="button-search" />
                  <button class="btn btn-danger" id="button-search" type="button">Go!</button>
              </div>
          </div>
      </div>
      <!-- Categories widget-->
      <div class="card mb-4">
          <div class="card-header">Categories</div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-6">
                      <ul class="list-unstyled mb-0">
                          <li><a href="#!">Web Design</a></li>
                          <li><a href="#!">HTML</a></li>
                          <li><a href="#!">Freebies</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6">
                      <ul class="list-unstyled mb-0">
                          <li><a href="#!">JavaScript</a></li>
                          <li><a href="#!">CSS</a></li>
                          <li><a href="#!">Tutorials</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!-- Side widget-->
      <div class="card mb-4">
          <div class="card-header ">Publicité</div>
          <div class="card-body text-center"><iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=22&l=ur1&category=amu&banner=1JJWGCWPBANHHWTF9B82&f=ifr&linkID=921b06a05586b4ce45854bd3b9aa49d7&t=nopamani-21&tracking_id=nopamani-21" width="250" height="250" scrolling="no" border="40" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe></div>
      </div>
  </div>


</div>


              </div>
              <br>
{% endblock content%}